/* All elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Containers */
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

/* Menu container */
.menu-container {
    position: fixed;
    width: 100vw;
    top: 2vh;   
    z-index: 10; 
    border-bottom: 0.3vh dashed #E7E5DA;
}

.menu-container.about {
    border-bottom: 0.3vh dashed #C2C0AA;
}

/* Menu lists */
.menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 2vh;
    padding: 0;
}

/* Menu items */
.menu li {
    margin-left: 2vh; 
    font-family: 'palatino', serif;
    font-size: 2vh;
    color: #36454F;
}

/* Title container */
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

/* Contact container */
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

/* All sections */
section {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* Specific sections */
#home {
    background: #C2C0AA;
}

#about {
    background: #E7E5DA;
}

#publications {
    background: #C2C0AA;
}

#policy {
    background: #E7E5DA;
}

#skills {
    background: #C2C0AA;
}

#cv {
    background: #E7E5DA;
}

#contact {
    background: #C2C0AA;
}

/* Titles */
h1 {
    font-family: 'palatino', serif;
    font-size: 8vh;
    color: #36454F;
}

h2 {
    font-family: 'palatino', serif;
    font-size: 4vh;
    color: #36454F;
}

/* Buttons */
.btn {
    font-family: 'palatino', serif;
    font-size: 4vh;
    background:#36454F;
    width: 10vw;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}


/* All paragraphs */
p {
    font-family: 'palatino', serif;
    font-size: 3vh;
    color: #36454F;
    justify-content: center;
    align-items: center;
}

/* Specify list */
ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

/* Specify list items */
.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}