/* All elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/* Sections */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* Specific sections */
.home {
    background: #eeeded;
}

.about {
    background: #8d99ae;
}

.publications {
    background: #a7b9ac;
}

.presentations {
    background: #789cab;
}

.skills {
    background: #f5ada5;
}

.cv {
    background: #eeeded;
}

/* Titles */
h1 {
    font-family: 'Courier New', monospace;
    font-size: 10vh;
    color: #36454F;
    justify-content: center;
    align-items: center;
}

/* Input */
input {
    width: 10vw;
    margin: 0 auto;
    display: inline;
}

p {
    font-family: 'Courier New', monospace;
    font-size: 3vh;
    color: #36454F;
    justify-content: center;
    align-items: center;
}

div {
    justify-content: center;
    align-items: center;
}
